@import url('https://fonts.googleapis.com/css?family=Oswald|Lato:400');

/* --------------------------------- global */
* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    font-family: Lato;
    color: #000;
    background-color: #c1f7f0;
    max-width: 100%;
}

h1 {
    font-family: Oswald;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #fff;
    text-align: center;
}

h2 {
    text-align: center;
}

h2,
h3,
p {
    font-family: Lato;
    letter-spacing: 4px;
}

/* --------------------------------- nav */


.navbar {
    background-color: #007065;
}

.nav-link {
    font-size: 110%;
    color: #fff;
}

#logo {
    padding-left: 20px;
    font-size: 120%;
}

.navbar-nav {
    font-size: 110%;
    letter-spacing: 4px;
}

.nav-item {
    margin-right: 30px;
}

.navbar a {
    color: #fff;
}

/* --------------------------------- header */

#hero-image {
    width: auto;
    height: 150px;
    background: url("../../assets/images/staycation.png") repeat;
}

@media only screen and (min-width: 1024px) {
    #hero-image {
        height: 250px;
    }
}

#hero.outer {
    height: 300px;
    width: 100%;
}

#header-top {
    height: 40px;
    display: inline-block;
    margin: 5px;
}

hr {
    width: 90%;
    margin: 5px auto;
    border: 1px solid #000;
}

#header-bottom {
    background-color: #c1f7f0;
    width: 100%;
    padding: 10px
}


#left-about {
    padding-top: 10px;
    float: left;

    display: flex;
    align-items: center;
}

#right-about {
    padding-top: 20px;
    float: right;
    text-align: center;
}

.left-about-heading {
    width: 100%;
    line-height: 20px;
    clear: both;
    text-align: center;
}

.right-about-heading {
    width: 100%;
    float: left;
    line-height: 20px;
    clear: both;
    text-align: center;
}

#city-container {

    padding: 0px;
    border-style: solid;
    border-color: #000;
    border-width: 1px;
    margin: 0 auto;
}

/* --------------------------------- footer */
footer {
    background-color: #009f93;
    color: #fff;
    text-align: center;
    min-height: 50px;
    width: 100%;
    padding: 10px;
}

.social-media {
    text-align: center;
}

.social-media li {
    display: inline;
}

.social-media i {
    font-size: 160%;
    margin-top: 10px;
    padding-left: 2%;
    color: #fff;
}


/* --------------------------------- map */

#map {
    height: 400px;
    width: 100%;
}